<!-- <div class="row">
	<ul class="thumbnails">
		<% #@tag.each do |tag| %>
			<li class="span3">
				<%= link_to image_tag(tag.image_url), tag_path(tag), #class: "thumbnail" %>
				<i class="icon-star"><%= link_to tag.name, tag_path(tag) %></i>
			</li>	
		<% #end %>
	</ul>
</div> -->