<div class="row">
	<ul class="thumbnails">
		<% @tag.each do |tag| %>
			<li class="span3">
				<%= link_to image_tag(tag.image_url), tag_path(tag), class: "thumbnail" %>
				<span class='label label-info'><%= link_to tag.name, tag_path(tag), class: "span_tag_link" %></span>
			</li>	
		<% end %>
	</ul>
</div>